body {
    background-image: url(../images/full-bloom/full-bloom.png);
}

#kyle {
    width: 215px;
    height: 215px;
    float: left;
    margin-right: 20px;
}

#navbarSupportedContent {
    float: right;
    padding-left: 550px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-right: 5px;
    font-size: 18px;
}

.navbar-brand {
    font-size: 26px;
    margin-left: 225px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    padding: 10px 20px 10px 20px;
}

.label {
    position: relative;
    bottom: 75px;
    background-color: #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    width: 100%;
}

.img-thumbnail {
    width: 100%;
}

.container {
    border: 1px solid #dddddd;
    width: 960px;
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background-color: #ffffff;
    padding: 28px;
}

h2 {
    border-bottom: 2px solid #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    padding-bottom: 15px;
}

.form {
    padding-top: 10px;
}

.card-footer {
    text-align: center;
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    color: #ffffff;
}