body {
     background-image: url(../images/full-bloom/full-bloom.png);
     background-size: auto, cover;
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
     color: #777777;
 }

 .heading {
     float: left;
     margin-bottom: 20px;
     background-color: #ffffff;
     width: 100%;
 }

 h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #cccccc;
    width: 33%;
    background-color: #4aaaa5;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    width: 25%;
}

.content {
    clear: both;
    width: 960px;
    padding: 20px;
    border: 1px solid black;
    margin: 20px;
    text-align: center;
    background-color: #ffffff;
}

#box1 {
    float: left;
    padding: 20px;
}

#box2 {
    float: left;
    padding: 20px;
}

#box3 {
    float: left;
    padding: 20px;
}

#box4 {
    float: left;
    padding: 20px;
}

#box5 {
    float: left;
    padding: 20px;
}

#fname {
    width: 960px;
}

#email {
    width: 960px;
}

#message {
    width: 960px;
    height: 200px;
}

#kyle {
    width: 150px;
    height: 150px;
    float: left;
    padding: 20px;
}

.footer {
    border-top: 8px solid;
    background-color: #4aaaa5;
    height: 100%;
    color: #777777;
}
