/*
* Keyframes
*/

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
}


body {
     background-image: url(../images/full-bloom/full-bloom.png);
     background-size: auto, cover;
     font-family: Arial, Helvetica, sans-serif;
     color: #777777;
 }

 p {
     line-height: 1.5;
     padding: 5px;
     color: #777777;
     margin-right: 40px;
     text-align: auto;
 }

 .heading {
     float: left;
     margin-bottom: 20px;
     background-color: #ffffff;
     width: 100%;
     border-color: #cccccc;
     border-bottom: 1px outset;
 }

 #name {
    width: 200px;
    margin-left: 200px;
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    font-size: 14px;
}

.headerbutton {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    width: 50px;
    float: right;
    font-size: 20px;
    margin-top: 20px;
    margin-right: 50px;
    align-items: center;
}

a:link {
    text-decoration: none;
}

 h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    color: #4aaaa5;
    width: 95%;
    padding-bottom: 20px;
    border-color: #ffffff;
    border-bottom: 2px outset;
    border-bottom-width: 100%;
    margin: 10px;
}

.content {
    clear: both;
    width: 960px;
    padding: 20px;
    border: 1px solid;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 150px;
    background-color: #ffffff;
    border-color: #dddddd;
    color: #777777;
}

.boxes {
    width: 960px;
    text-align: center;
}

.box {
    /* float: left; */
    margin: 18px;
    margin-left: 12px;
    width: 290px;
    height: 290px;
}

#fname {
    width: 908px;
    color: #777777;
    margin: 10px;
}

#email {
    width: 908px;
    color: #777777;
    margin: 10px;
}

#message {
    width: 908px;
    height: 200px;
    color: #777777;
    margin: 10px;
}

#submit {
    background-color:#4aaaa5;
    color: white;
    margin: 4px 10px;
    cursor: pointer;
    padding: 10px 25px;
    font-size: 16px;
}

#kyle {
    width: 150px;
    height: 150px;
    float: left;
    padding: 13px;
}

.footer {
    bottom: 0px;
    width: 100%;
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    text-align: center;
    height: 50px;
}