body {
     background-image: url(../images/full-bloom/full-bloom.png);
     background-size: auto, cover;
     font-family: Arial, Helvetica, sans-serif;
     color: #777777;
 }

 p {
     line-height: 1.5;
 }

 .heading {
     float: left;
     margin-bottom: 20px;
     background-color: #ffffff;
     width: 100%;
     border-color: #777777;
     border-bottom: 2px outset;
 }

 h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #cccccc;
    text-align: center;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    color: #4aaaa5;
    width: 95%;
    padding: 5px;
    border-color: #777777;
    border-bottom: 2px outset;
    border-bottom-width: 100%;
    margin: 10px;
}

.content {
    clear: both;
    width: 960px;
    padding: 20px;
    border: 1px solid;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 150px;
    background-color: #ffffff;
}

.boxes {
    width: 960px;
    text-align: center;
}

#box1 {
    float: left;
    padding: 20px;
}

#box2 {
    float: left;
    padding: 20px;
}

#box3 {
    float: left;
    padding: 20px;
}

#box4 {
    float: left;
    padding: 20px;
}

#box5 {
    float: left;
    padding: 20px;
}

#fname {
    width: 960px;
    text-align: left;
}

#email {
    width: 960px;
}

#message {
    width: 960px;
    height: 200px;
}

#kyle {
    width: 150px;
    height: 150px;
    float: left;
    padding: 13px;
}

.footer {
    border-top: 8px solid;
    background-color: #4aaaa5;
    height: 100%;
    color: #777777;
}

#name {
    height: 100px;
    width: 300px;
    margin-left: 200px;
    padding-top: 10px;
    background-color: #4aaaa5;
}

.headerbutton {
    width: 100px;
    float: right;
}