body {
    background: url("../images/organic-tiles.png");
}

.container {
    background-color: white;
    width: 900px;
    border: 1px solid;
    padding: 10px;
}

.time {
    margin-left: 800px;    
}

.nav {
    background-color: darkslategray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding: 15px;
}

#start {
    background-color: darkslategray;
    color: white;
    padding: 5px;
}