body {
    background: url("../images/middle_earth.png");
}

.container {
    font-family: 'Baskervville', serif;
    font-size: 20px;
    border-radius: 25px;
    background-color: whitesmoke;
    width: 900px;
    border: 1px solid;
    padding: 15px;
    margin-top: 100px;
}

.time {
    margin-left: 800px;    
}

.nav {
    background-color: darkslategray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding: 15px;
}

#start {
    background-color: darkslategray;
    color: white;
    padding: 5px;
}

h1 {
    font-family: 'Dancing Script', cursive;
}

#quizQuestions {
    font-size: 26px;
    font-weight: bold;
}