body {
    background: url("../images/sun-pattern.png");
}

h1 {
    background-color: darkslategray;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.nav {
    padding-bottom: 15px;
}

#select-city {
    background-color: darkslategray;
    color: white;
}