h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: darkslategray;
    padding: 15px 0px 15px 0px;
    color: #ffffff;
    width: 100%;
}

body {
    background: url("../images/leaves-pattern.png");
}

.container {
    width: 900px;
    border: 1px solid;
    padding: 15px;
    height: 350px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkslategray;
    text-align: center;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

#field {
    width: 100%;
    align-content: center;
    height: 200px;
    border: 1px solid;
}

#generate {
    position: relative;
    top: 10px;
    padding: 15px;
    width: 50%;
    background-color: darkslategray;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#copy {
    position: relative;
    left: 208px;
    top: 10px;
    padding: 15px;
    width: 50%;
    background-color: darkslategray;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}